<div data-id="{{_id}}" class="token">
  <div class="attribute label">{{number}}</div>
  <div class="attribute"><span class="label">Created:</span> {{formatDate createdAt}}</div>
  <div class="attribute"><span class="label">Expires:</span> {{formatDate expiresAt}}</div>
  <div class="attribute"><span class="label">Last used:</span> {{#if publishedAt}}{{formatDate publishedAt}}{{else}}{{t 'app.never'}}{{/if}}</div>
  <button type="button" name="delete" class="btn alert">{{t 'app.revoke'}}</button>
</div>
